<div class="maindiv">
  <div class='label'>введите название населенного пункта</div>
  <form id="getcity" name='getcityform'>
    <input class="inputform" id="inputcity" type='text' name="city">
  </form>
</div>

<div class="mapbody">
  <div id="map" style="width: 90%; height: 500px"></div>
  <input  style="visibility: hidden" type="button" id="destroyButton" value="Удалить карту" />
</div>


