<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=d82170e8-5de3-4f51-b4dd-a7d8ea434409"
    type="text/javascript"></script>
  <script src="mapbasics.js" type="text/javascript"></script>
  <script defer src="/js/index.js"></script>
  <link rel="stylesheet" href="/styles/styles.css">


  <title>LENIN IN</title>
</head>

<body class="body">
  {{>navbar}}
  <div class="containermain">
    {{{body}}}
  </div>
  <div class="lenin"> <img src="/img/lenin.png"> </div>
</body>

</html>
