.body  {
  margin: 0;
  background-color: #903224;
}

.mapbody {
  margin: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display:flex;
  background-color: #282128;
  flex-direction: row;
  height: 100px;
  justify-content:center ;
  text-align: center;
  font-family: "RedOctoberFat";
  font-size: 100px;
  color: #903224;
  }

  #refreshbutton {
  font-family: "RedOctoberFat";
  margin: 15px;
  font-size: 20px;

  }

  .label {
    font-family: "RedOctoberFat";
    font-size: 20px;
    color: #282128;
    margin: 20px;
  }

  .maindiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mapbox {
    margin: 15px;
 
  }

  .inputform {
    width: 180px;
    height: 30px;
    font-size: 20px;
    font-family: "RedOctoberFat";
    color: #312931;
    margin: 15px;
  }

  .containermain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  @font-face { 
    font-family: "RedOctoberFat";
    src: url("../fonts/RedOctoberFat/RedOctoberFat.eot");
    src: url("../fonts/RedOctoberFat/RedOctoberFat.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RedOctoberFat/RedOctoberFat.woff") format("woff"),
    url("../fonts/RedOctoberFat/RedOctoberFat.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* @font-face { 
  font-family: "MolotRegular";
  src: url("../fonts/MolotRegular/MolotRegular.eot");
  src: url("../fonts/MolotRegular/MolotRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MolotRegular/MolotRegular.woff") format("woff"),
  url("../fonts/MolotRegular/Molot.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
} */

.lenin {
  position: absolute;
  top: -140px;
  left: -140px;
  transition: 0.3s ease;
}

.lenin img {
  width: 220px;
  rotate: 90deg;
  transform: rotate(145deg);
}

.lenin:hover {
  left: -25px;
  top: -25px;
  transition: 0.3s ease;
}
